*{
    margin: 0;
    padding: 0;
    display: flexbox;
}
@font-face {
    font-family:regularUbuntu ;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
    font-weight: 100;
}
@font-face {
    font-family:mediumUbuntu ;
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
    font-weight: 200;
}
@font-face {
    font-family: boldUbuntu;
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
    font-weight: 300;
}
body{
    min-width:100vh;
    height: 100vh;
    background-color:hsl(229, 24%, 87%); 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.page{
    width:70%;
    height:60%;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
 }
.page__container{
    width: 95%;
    height: 95%;
    display: flex;   
    justify-content: space-around;
}
.nav{
    flex-basis: 30%;
    background-color:aqua;
    background-image:url('./assets/images/bg-sidebar-desktop.svg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.nav__container{
    margin-top: 30px;
    width:80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav__element{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__number{
    height: 30px;
    width:30px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.nav__instruction{
    width: 80%;
}
.nav__number{
   font-size: 13px;
   font-family: mediumUbuntu;
}
.nav_step_number{
    font-size: 12px;
    font-family: regularUbuntu;
    color:hsl(231, 11%, 63%);
}
.nav_info{
    font-size: 13px;
    font-family: boldUbuntu;
    color:hsl(229, 24%, 87%);
}
.form__container{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form__header{
    margin-top: 40px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form__header > h2{
    font-family: boldUbuntu;
    color: hsl(213, 96%, 18%);
}
.form__header > p{
    font-family: regularUbuntu;
    color:  hsl(213, 96%, 18%);
}
#form__body{
    margin-bottom: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form__body__element{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
}
.form__body__element > label{
    font-family: mediumUbuntu;
    font-size: 14px;
    font-weight: 250;
    color:  hsl(213, 96%, 18%);
}
.form__body__element > input{
    height: 60%;
    border-radius: 6px;
    border: solid 1px  hsl(213, 96%, 18%);
}
.form__footer{
    height: 10%;
}
